.container {
	max-width: 600px;
	margin: 0 auto !important;
}

.box {
	margin: 1%;
	border: 1px solid red;
	align-items: center;
	display: flex;
	justify-content: center;
	order: 1;
	flex: 1;

}

.row {
	display: flex;
	flex: 0 1 auto; 
	width: 100%;
	flex-wrap: nowrap;
	flex-direction: row;
} 

.label {
	font-size: 2.7em;	
}

#output {
	height: 120px;
	border: 1px solid red;
	margin: 0 auto;
	width: 98%;
}

.selectedButton {
	background-color: #CCCCCC;
}